<a href="https://colab.research.google.com/github/19PA1A04C9/Nireekshana/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [2]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [4]:
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [5]:
import pandas as pd
a=pd.read_csv("/content/sample_data/anscombe.json")
print(a)
print(a.info())

                                          [
  {"Series":"I"    "X":10.0  "Y":8.04}  NaN
                   "X":8.0   "Y":6.95}  NaN
                   "X":13.0  "Y":7.58}  NaN
                   "X":9.0   "Y":8.81}  NaN
                   "X":11.0  "Y":8.33}  NaN
                   "X":14.0  "Y":9.96}  NaN
                   "X":6.0   "Y":7.24}  NaN
                   "X":4.0   "Y":4.26}  NaN
                   "X":12.0  "Y":10.84} NaN
                   "X":7.0   "Y":4.81}  NaN
                   "X":5.0   "Y":5.68}  NaN
  {"Series":"II"   "X":10.0  "Y":9.14}  NaN
                   "X":8.0   "Y":8.14}  NaN
                   "X":13.0  "Y":8.74}  NaN
                   "X":9.0   "Y":8.77}  NaN
                   "X":11.0  "Y":9.26}  NaN
                   "X":14.0  "Y":8.10}  NaN
                   "X":6.0   "Y":6.13}  NaN
                   "X":4.0   "Y":3.10}  NaN
                   "X":12.0  "Y":9.13}  NaN
                   "X":7.0   "Y":7.26}  NaN
                   "X":5.0   "Y":4.74}  NaN
  {"Series":"III"  "X":10.0  "Y":7.46}  NaN
                   "X":8.0   "Y":6.77}  NaN
                   "X":13.0  "Y":12.74} NaN
                   "X":9.0   "Y":7.11}  NaN
                   "X":11.0  "Y":7.81}  NaN
                   "X":14.0  "Y":8.84}  NaN
                   "X":6.0   "Y":6.08}  NaN
                   "X":4.0   "Y":5.39}  NaN
                   "X":12.0  "Y":8.15}  NaN
                   "X":7.0   "Y":6.42}  NaN
                   "X":5.0   "Y":5.73}  NaN
  {"Series":"IV"   "X":8.0   "Y":6.58}  NaN
                             "Y":5.76}  NaN
                             "Y":7.71}  NaN
                             "Y":8.84}  NaN
                             "Y":8.47}  NaN
                             "Y":7.04}  NaN
                             "Y":5.25}  NaN
                   "X":19.0  "Y":12.50} NaN
                   "X":8.0   "Y":5.56}  NaN
                             "Y":7.91}  NaN
                             "Y":6.89}  NaN
]                 NaN       NaN         NaN
<class 'pandas.core.frame.DataFrame'>
MultiIndex: 45 entries, (  {"Series":"I",  "X":10.0,  "Y":8.04}) to (], nan, nan)
Data columns (total 1 columns):
[    0 non-null float64
dtypes: float64(1)
memory usage: 1023.0+ bytes
None